@import url(style.css);
header::before {
    content: 'Bài 3.6: Ngôn ngữ Javascript';
}

body {
    background: linear-gradient(to right, blue, red);
}

form {
    border: 3px solid yellow;
    background: pink;
    padding: 20 50;
}

form h3 {
    text-align: center;
    text-transform: uppercase;
}

form div {
    display: flex;
    align-items: center;
    margin: 25 0;
}

form div div {
    width: 50%;
}

form div span {
    margin: 0 5px;
}

form input {
    height: 30px;
}

.button {
    margin: auto;
    width: max-content;
}

.button button {
    background: black;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10 20;
    margin: 0 10;
}

.button button:hover {
    cursor: pointer;
}

.button button:first-child:hover {
    background: blue;
}

.button button:last-child:hover {
    background: red;
}

input {
    flex: 1;
    border: 1px solid red;
}

textarea {
    border: 1px solid red;
}

.f2 span {
    width: 150px;
}

.f3 form div div {
    display: block;
    float: left;
    width: max-content;
    padding: 10;
    margin: 0 10;
    background: rgba(255, 255, 255, 0.333);
}

.f3 input[type="text"] {
    width: 220px;
    margin-top: 20px;
}

label {
    width: 170px;
}

select {
    width: 115px;
    height: 30px;
    font-size: 17px;
    padding-left: 7px;
    border: 1px solid red;
    background: plum;
}

option {
    color: white;
}